<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Primary Theme</title>
  </head>
  <body>
    <h1>Primary Theme</h1>

    <h2>Files</h2>

    <ul>
      {% for file in files %}
        {% include 'row.html.twig' with {'file': file} only %}
      {% endfor %}
    </ul>
  </body>
</html>
