<li>
  <p>File Name: {{ file.image.name }}</p>
  <img src="{{ file.image.src }}" alt="{{ file.image.name }}"/>

  {% if file.text is defined %}
    <div class="description">
      {{ file.text | markdown}}
    </div>
  {% endif %}
</li>
