{% for file in group %}
  {% if file.text is defined %}
    <section class="description">
      {{ file.text | markdown }}
    </section>
  {% endif %}

  {% if file.image is defined %}
    <section class="image">
      <img src="{{ file.image.src }}" alt="{{ file.image.name }}" title="{{ file.image.name }}"/>
    </section>
  {% endif %}
{% endfor %}
