/****** Layout ******/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row:after,
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

body {
  position: relative;
  text-align: center;
  margin: 0;
}

p {
  margin: 1em 0;
}

.vertical-align {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
}

.row {
  position: relative;
  max-width: 100%;
  margin: 6% 0;
  clear: both;
}

.row h1,
.row h2,
.row h3,
.row h4,
.row h5,
.row h6 {
  text-align: center;
}

/****** Descriptions ******/
.description {
  margin: 0 auto;
  padding: 0 50px;
  text-align: center;
}

.description > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

/****** Images ******/
.image img {
  padding: 0 26px;
  max-width: 100%;
}

.image-full {
  padding-bottom: 6%;
}

.image-full img {
  width: 100%;
  height: auto;
}

.partial {
  float: left;
  padding-bottom: 1em;
}

.right-60,
.left-60 {
  width: 60%;
}

.left-40 img,
.left-60 img {
  padding-right: 0.5em;
}

.left-40,
.right-40 {
  width: 40%;
}

.right-60 img,
.right-40 img {
  padding-left: 0.5em;
}

/****** Site Footer ******/
#site_footer {
  text-align: left;
  border-top: 1px solid #ccc;
  margin-top: 2em;
  padding: 1em;
}

@media (min-width: 800px) {
  .description {
    max-width: 800px;
  }
}

@media (min-width: 1000px) {
  .image img {
    max-width: 1000px;
  }
}
